/* Login */
.custom-border {
  position: relative;
}

.custom-border::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d1d5db;
}

/* Dashboard */

body {
  padding-top: 70px;
  background-color: #dbe8ea;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.3rem;
  color: #037171;
  font-size: 20px;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.btn-arrow {
  background-color: #ead2d2;
  border: none;
  font-size: 1.1rem;
}

.btn-arrow:hover {
  background-color: #af888b;
}

.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 3px 8px;
  /* smaller padding */
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  /* smaller font */
}

.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}

.btn.btn-secondary {
  padding: 3px 8px;
  font-size: 0.85rem;
  border-radius: 4px;
}

.table thead {
  background-color: #f0f0f0;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

/* Ícons canto direito */
.nav-link {
  color: #037171;
}

/* Estilo do botão "Ocorrências Revistas" */
.btn-outline-secondary {
  background-color: #e9ecef;
  color: #777777;
  border-color: #dddddd;
  border-radius: 12px;
  padding: 4px 12px;
  /* espaço interno para deixar confortável */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
}

.form-control {
  width: 286.5px;
  height: 44px;
}

.card-header h5 {
  font-size: 16px;
  font-family: "Days One", sans-serif;
}

h3.text-danger {
  font-size: 30px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

h2 {
  font-size: 16px;
  font-family: "Days One", sans-serif;
  color: #000000 !important;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

#ocorrencias {
  font-family: "Public Sans", sans-serif;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.quick-actions-item .text {
  color: #037171;
  font-weight: bold;
  font-size: 1rem;
}

.badge.bg-success {
  background-color: #037171 !important;
  color: white;
}

.badge.bg-danger {
  background-color: #893037 !important;
  color: white;
}

.stat-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin-bottom: 16px;
}

.stat-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  margin-right: 16px;
}

.stat-text .label {
  font-size: 14px;
  color: #777777;
  margin: 0;
}

.stat-text .value {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #000;
}

.bg-blue {
  background-color: #2d7ff9;
}

.bg-light-blue {
  background-color: #4abff2;
}

.bg-green {
  background-color: #2ecc71;
}

.bg-purple {
  background-color: #9b59b6;
}

.custom-legend {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* põe os itens lado a lado */
  gap: 20px;
  /* espaço entre cada item */
  align-items: center;
}

.custom-legend li {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.custom-legend .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.btn-label-success {
  background-color: #bbf6bd89;
  color: rgb(45, 230, 45);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
}

.btn-label-info {
  background-color: #bbe4f689;
  color: rgb(9, 156, 224);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
}

.card-head-row {
  display: flex;
  /* Put children side by side */
  justify-content: space-between;
  /* Title on left, buttons on right */
  align-items: center;
  /* Center vertically */
  margin-bottom: 20px;
  /* Optional: space below */
}

/* Criar ocorrencia */

body {
  background-color: #dbe8ea;
  font-family: "Public Sans", sans-serif;
  padding-top: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 20px;
  color: #037171;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.container-center-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.container-main {
  background: #fefefe;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 1000px;
}

h2 {
  color: #6b0000;
  font-weight: bold;
  text-shadow: 1px 1px 2px #999;
  font-family: "Days One", sans-serif;
  margin-bottom: 1.5rem;
}

h3.text-danger {
  font-size: 16px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.quick-actions-item .text {
  color: #037171;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link {
  color: #037171;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 3px 8px;
  /* smaller padding */
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  /* smaller font */
}

.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}

/* Datatables */

body {
  padding-top: 70px;
  background-color: #e5edf0;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.3rem;
  color: #037171;
  font-size: 20px;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.btn-arrow {
  background-color: #cde3e3;
  border: none;
  font-size: 1.1rem;
}

.btn-arrow:hover {
  background-color: #a7c6c6;
}

.table thead {
  background-color: #f0f0f0;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

/* Ícons canto direito */
.nav-link {
  color: #037171;
}

/* Estilo do botão "Ocorrências Revistas" */
.btn-outline-secondary {
  background-color: #e9ecef;
  color: #777777;
  border-color: #dddddd;
  border-radius: 12px;
  width: 179.2px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-control {
  width: 286.5px;
  height: 44px;
}

.card-header h5 {
  font-size: 16px;
  font-family: "Days One", sans-serif;
}

h3.text-danger {
  font-size: 16px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

#ocorrencias {
  font-family: "Public Sans", sans-serif;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

/* ocorrencia */

body {
  padding-top: 70px;
  background-color: #dbe8ea;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.3rem;
  color: #037171;
  font-size: 20px;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.btn-arrow {
  background-color: #ead2d2;
  border: none;
  font-size: 1.1rem;
}

.btn-arrow:hover {
  background-color: #af888b;
}

.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 3px 8px;
  /* smaller padding */
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  /* smaller font */
}

.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}

.btn.btn-secondary {
  padding: 3px 8px;
  font-size: 0.85rem;
  border-radius: 4px;
}

.table thead {
  background-color: #f0f0f0;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

/* Ícons canto direito */
.nav-link {
  color: #037171;
}

/* Estilo do botão "Ocorrências Revistas" */
.btn-outline-secondary {
  background-color: #e9ecef;
  color: #777777;
  border-color: #dddddd;
  border-radius: 12px;
  padding: 4px 12px;
  /* espaço interno para deixar confortável */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
}

.form-control {
  width: 286.5px;
  height: 44px;
}

.card-header h5 {
  font-size: 16px;
  font-family: "Days One", sans-serif;
}

h3.text-danger {
  font-size: 30px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

h2 {
  font-size: 16px;
  font-family: "Days One", sans-serif;
  color: #000000 !important;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

#ocorrencias {
  font-family: "Public Sans", sans-serif;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.quick-actions-item .text {
  color: #037171;
  font-weight: bold;
  font-size: 1rem;
}

.badge.bg-success {
  background-color: #037171 !important;
  color: white;
}

.badge.bg-danger {
  background-color: #893037 !important;
  color: white;
}

.stat-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin-bottom: 16px;
}

.stat-icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  margin-right: 16px;
}

.stat-text .label {
  font-size: 14px;
  color: #777777;
  margin: 0;
}

.stat-text .value {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #000;
}

.bg-blue {
  background-color: #2d7ff9;
}

.bg-light-blue {
  background-color: #4abff2;
}

.bg-green {
  background-color: #2ecc71;
}

.bg-purple {
  background-color: #9b59b6;
}

.custom-legend {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* põe os itens lado a lado */
  gap: 20px;
  /* espaço entre cada item */
  align-items: center;
}

.custom-legend li {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.custom-legend .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.btn-label-success {
  background-color: #bbf6bd89;
  color: rgb(45, 230, 45);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
}

.btn-label-info {
  background-color: #bbe4f689;
  color: rgb(9, 156, 224);
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
}

.card-head-row {
  display: flex;
  /* Put children side by side */
  justify-content: space-between;
  /* Title on left, buttons on right */
  align-items: center;
  /* Center vertically */
  margin-bottom: 20px;
  /* Optional: space below */
}

/* tabela museus concluidos */

body {
  background-color: #dbe8ea;
  font-family: "Public Sans", sans-serif;
  padding-top: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 20px;
  color: #037171;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.container-center-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.container-main {
  background: #fefefe;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 1000px;
}

h2 {
  color: #6b0000;
  font-weight: bold;
  text-shadow: 1px 1px 2px #999;
  font-family: "Days One", sans-serif;
  margin-bottom: 1.5rem;
}

h3.text-danger {
  font-size: 16px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.quick-actions-item .text {
  color: #037171;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link {
  color: #037171;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 3px 8px;
  /* smaller padding */
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  /* smaller font */
}

.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}

/* tabela museu */

body {
  padding-top: 70px;
  background-color: #dbe8ea;
  font-family: "Public Sans", sans-serif;
}
.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  font-size: 20px;
  color: #037171;
  font-family: "Days One", sans-serif;
}
.navbar-brand:hover {
  color: #0f3636;
}
.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}
.nav-link {
  color: #037171;
}
.form-control {
  width: 286.5px;
  height: 44px;
}
.op-7 {
  color: #037171;
}
.fw {
  color: #037171;
}
.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
}
.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}
.container-main {
  background: #fefefe;
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
h2 {
  color: #6b0000;
  font-weight: bold;
  text-shadow: 1px 1px 2px #999;
  padding-bottom: 1rem;
  font-family: "Days One", sans-serif;
}
h3.text-danger {
  font-size: 16px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}
.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.quick-actions-item .text {
  color: #037171;
  font-weight: bold;
  font-size: 1rem;
}

.fw {
  color: #037171;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

.nav-link {
  color: #037171;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}
.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.3rem;
  color: #037171;
  font-size: 20px;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}
.badge.bg-success {
  background-color: #037171 !important;
  color: white;
}

.badge.bg-danger {
  background-color: #893037 !important;
  color: white;
}

/* tabelas */

body {
  background-color: #dbe8ea;
  font-family: "Public Sans", sans-serif;
  padding-top: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 20px;
  color: #037171;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.container-center-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.container-main {
  background: #fefefe;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 1000px;
}

h2 {
  color: #6b0000;
  font-weight: bold;
  text-shadow: 1px 1px 2px #999;
  font-family: "Days One", sans-serif;
  margin-bottom: 1.5rem;
}

h3.text-danger {
  font-size: 16px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.quick-actions-item .text {
  color: #037171;
  font-weight: bold;
  font-size: 1rem;
}

.nav-link {
  color: #037171;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 3px 8px;
  /* smaller padding */
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  /* smaller font */
}

.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}

/* tabelas gestor */

body {
  padding-top: 70px;
  background-color: #dbe8ea;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.3rem;
  color: #037171;
  font-size: 20px;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.btn-arrow {
  background-color: #ead2d2;
  border: none;
  font-size: 1.1rem;
}

.btn-arrow:hover {
  background-color: #af888b;
}

.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 3px 8px;
  /* smaller padding */
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  /* smaller font */
}

.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}

.btn.btn-secondary {
  padding: 3px 8px;
  font-size: 0.85rem;
  border-radius: 4px;
}

.table thead {
  background-color: #f0f0f0;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

/* Ícons canto direito */
.nav-link {
  color: #037171;
}

/* Estilo do botão "Ocorrências Revistas" */
.btn-outline-secondary {
  background-color: #e9ecef;
  color: #777777;
  border-color: #dddddd;
  border-radius: 12px;
  padding: 4px 12px;
  /* espaço interno para deixar confortável */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
}

.form-control {
  width: 286.5px;
  height: 44px;
}

.card-header h5 {
  font-size: 16px;
  font-family: "Days One", sans-serif;
}

h3.text-danger {
  font-size: 30px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

#ocorrencias {
  font-family: "Public Sans", sans-serif;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.badge.bg-success {
  background-color: #037171 !important;
  color: white;
}

.badge.bg-danger {
  background-color: #893037 !important;
  color: white;
}

body {
  padding-top: 70px;
  background-color: #dbe8ea;
}

.navbar-custom {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.3rem;
  color: #037171;
  font-size: 20px;
  font-family: "Days One", sans-serif;
}

.navbar-brand:hover {
  color: #0f3636;
}

.btn-arrow {
  background-color: #ead2d2;
  border: none;
  font-size: 1.1rem;
}

.btn-arrow:hover {
  background-color: #af888b;
}

.btn-eyes {
  background-color: rgba(3, 113, 113, 0.2);
  color: #037171;
  border: none;
  padding: 3px 8px;
  /* smaller padding */
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  /* smaller font */
}

.btn-eyes:hover {
  background-color: rgba(3, 113, 113, 0.3);
}

.btn.btn-secondary {
  padding: 3px 8px;
  font-size: 0.85rem;
  border-radius: 4px;
}

.table thead {
  background-color: #f0f0f0;
}

.avatar-img {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link-icon {
  font-size: 1.1rem;
  color: #333;
}

.nav-link-icon:hover {
  color: #179a9a;
}

/* Ícons canto direito */
.nav-link {
  color: #037171;
}

/* Estilo do botão "Ocorrências Revistas" */
.btn-outline-secondary {
  background-color: #e9ecef;
  color: #777777;
  border-color: #dddddd;
  border-radius: 12px;
  padding: 4px 12px;
  /* espaço interno para deixar confortável */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
}

.form-control {
  width: 286.5px;
  height: 44px;
}

.card-header h5 {
  font-size: 16px;
  font-family: "Days One", sans-serif;
}

h3.text-danger {
  font-size: 30px;
  font-family: "Days One", sans-serif;
  color: #893037 !important;
}

.op-7 {
  color: #037171;
}

.fw {
  color: #037171;
}

.logo-icon {
  position: relative;
  top: 4px;
}

.profile-pic {
  color: #000 !important;
  text-decoration: none !important;
}

#ocorrencias {
  font-family: "Public Sans", sans-serif;
}

.icon-home {
  color: #893037;
}

.btn-home {
  background-color: #dbe8ea;
  border: none;
  outline: none;
}

.btn-home:hover i {
  color: #000;
}

.badge.bg-success {
  background-color: #037171 !important;
  color: white;
}

.badge.bg-danger {
  background-color: #893037 !important;
  color: white;
}

.fw {
  color: #037171;
}
